body {

  background: url('../imgs/background.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-color: #fff;
}

.div-podcast {
  background-color: #d7e7f5;
  padding: 30px;
  border-radius: 20px;
  margin: 50px auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.div-podcast audio {
  width: 100%;
  max-width: 450px;
}

.bt-transcricao {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: none;
  background: url('../../template/images/transcricao.png') no-repeat center;
  background-size: 100%;
  margin-left: 20px;
  transition: all 0.2s;
}

.bt-transcricao:hover {
  background-color: #fff;
}

.fundo-tecnicos {
  border-bottom: none !important;
}

h1 i,
h2 i,
h3 i,
h4 i {
  font-weight: bold;
}

h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

h4 {
  margin: 0px;
  margin-top: 40px;
}

pre {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.painel-abas {
  padding: 40px;
}

.nav-tabs {
  margin-left: 0;
}

.carousel {
  padding: 20px 40px;
}

.carousel-control.left {
  left: -90px;
  background: none;
  color: #000;
}

.carousel-control.right {
  right: -90px;
  background: none;
  color: #000;
}

.carousel-indicators {
  bottom: 0;
  margin-bottom: 0px;
}

.carousel-indicators .active {
  background-color: #2875C6;
}

.carousel-indicators li {
  border: 1px solid #2875C6;
}



.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #2875C6;
  border: 1px solid #1d5591;
  border-bottom-color: transparent;
}

.codigo-destaque {
  background: #000;
  color: #a39e9b;
  display: block;
  overflow-x: auto;
  padding: 1em;
}

.code-destaque {
  background-color: #071772 !important;
}


.txt-popover {
  text-decoration: underline;
  cursor: pointer;
  color: #2875C6;
}

/* 01 */
.grupo-imprimir {
  display: block;
  text-align: right;
  top: 81px;
  right: 40px;
  position: absolute;
}

li {
  margin-bottom: 0.8em;
  list-style-image: url(../imgs/check.png);
}

.bloco1,
.bloco2,
.bloco3,
.bloco4,
.bloco5,
.bloco6,
.bloco7,
.bloco8,
.bloco9,
.bloco10,
.bloco11,
.bloco12 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bloco1 {
  background-color: #004b90;
  margin-top: 80px;
  color: #fff;
}
.bloco1 h2, .bloco1 h3{
  color: #fff;
}

.bloco2,
.bloco4,
.bloco6,
.bloco8,
.bloco10,
.bloco12 {
  background: rgb(228, 240, 255);
  background: linear-gradient(180deg, rgba(228, 240, 255, 1) 0%, rgba(158, 181, 204, 1) 100%);
}

.bloco3,
.bloco5,
.bloco7,
.bloco9,
.bloco11 {
  background-color: #7B8FA6;
}

.bloco3,
.bloco5,
.bloco7,
.bloco9,
.bloco11 {
  color: #fff;
}

.bloco3 h3,
.bloco5 h3,
.bloco7 h3,
.bloco9 h3,
.bloco11 h3,
.bloco3 h4,
.bloco5 h4,
.bloco7 h4,
.bloco9 h4,
.bloco11 h4 {
  color: #fff;
}

.modal-body {
  color: #333;
}

/* .bloco4{
  background: rgb(228,240,255);
  background: linear-gradient(180deg, rgba(228,240,255,1) 0%, rgba(123,143,166,1) 100%);
}
.bloco5{
  background-color: #7b8fa6;
}
.bloco6{
  background: rgb(228,240,255);
  background: linear-gradient(180deg, rgba(228,240,255,1) 0%, rgba(123,143,166,1) 100%);
}
.bloco7{
  background-color: #7b8fa6;
}
.bloco8{
  background: rgb(228,240,255);
  background: linear-gradient(180deg, rgba(228,240,255,1) 0%, rgba(123,143,166,1) 100%);
}
.bloco9{
  background-color: #7b8fa6;
}
.bloco10{
  background: rgb(228,240,255);
  background: linear-gradient(180deg, rgba(228,240,255,1) 0%, rgba(123,143,166,1) 100%);
}
.bloco11{
  background-color: #7b8fa6;
}
.bloco12{
  background: rgb(228,240,255);
  background: linear-gradient(180deg, rgba(228,240,255,1) 0%, rgba(123,143,166,1) 100%);
} */
.marcador-seta li {
  list-style-image: url("../imgs/setas.png");
}

#slots .box {
  width: 210px;
  margin: 7px;
}

.game-body .slot .card {
  width: 94%;
}

.game-body .slot {
  border: 5px solid #c0101a;
  border-radius: 10px;
  background: #dbe1ec;
  padding: 15px 0;
}

.game-titulo {
  background: #c0101a;
  width: 30px;
  border-radius: 30px;
  padding: 3px;
}

.game-body .card {
  background: #abc1eb;
  border: none;
  color: #000;
  text-transform: unset;
  font-family: rubik;
}

/* baloes */
.balao-dir {
  background: #a3c2ed;
  border-radius: 15px;
  width: 415px;
  min-height: 62px;
  position: relative;
  padding: 5px 10px;
  margin: 0 10px;
}

.balao-dir:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #a3c2ed;
  bottom: -10px;
  transform: rotate(-90deg);
}

.balao-esq {
  background: #e3e5e9;
  border-radius: 15px;
  width: 415px;
  min-height: 62px;
  position: relative;
  padding: 5px 10px;
  margin: 0 10px;
}

.balao-esq:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e3e5e9;
  bottom: 0;
  left: -20px;
  transform: rotate(180deg);
}

.balao-dir p,
.balao-esq p {
  margin: 0;
}

.mautos {
  margin: 0 auto;
}

/* fim baloes */
/* gaitinha */
.accordion-item {
  background-color: transparent;
}

.accordion-header {
  margin-top: 0;
}

.accordion-button,
.accordion-button.collapsed {
  color: #fff;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: #000;
  border-radius: 30px 30px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.accordion-button:not(.collapsed) {
  background-color: #cae0ff;
}

.accordion-item,
.accordion-item:first-of-type {
  border: none;
  margin-bottom: 15px;
}

.accordion-button {
  background-color: #004b90;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  margin-left: 20px;
  border-left: 3px solid #1e8cb1;
}

/* fim gaitinha */
/* board-trello */
/* board-trello */
.board-trello {
  margin: 0 auto;
  background-color: #D9E4ED;
  border-radius: 20px;
  padding: 20px;
  max-width: 410px;
}

.board-trello img {
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  border: 5px solid #D9E4ED;
}

.board-trello img:hover {
  cursor: pointer;
  border: 5px solid #2a5568;
}

.titulo-board {
  position: relative;
  width: 100%;
  color: #004B90;
  font-size: 1.55rem;
  margin: 0;
  font-weight: 900;
}

.titulo-board::after {
  content: "...";
  position: absolute;
  right: 0;
  font-size: 3rem;
  margin-top: -10px;
}

.add-board {
  color: #004B90;
  margin: 0;
}

/* fim board-trello */

.icone-practice {
  padding-left: 180px;
  background-position: 10px 10px;
  background-size: 140px 140px;
  background-color: #004b90;
  color: #fff;
}

.caixa-destaque {
  width: 90%;
}

.mgleft {
  margin-right: 15px;
}

.bloco-paragrafo {
  margin-bottom: 20px
}

.bloco-paragrafo p {
  margin: 0 !important;
}

.box-painel1 {
  display: block;
  margin: 0 auto;
  width: 440px;
}

.bt1-painel1 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.bt2-painel1 {
  margin-top: 140px;
}

.bt3-painel1 {
  margin-top: 240px;
  margin-left: 40px;
}

.bt4-painel1 {
  margin-left: 40px;
  margin-top: 140px;
}

.bt1-painel1:hover,
.bt2-painel1:hover,
.bt3-painel1:hover,
.bt4-painel1:hover {
  transition: all 0.3s;
}

.bt1-painel1:hover,
.bt2-painel1:hover,
.bt3-painel1:hover,
.bt4-painel1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bloco3 .modal-body,
.bloco5 .modal-body,
.bloco7 .modal-body,
.bloco9 .modal-body,
.bloco11 .modal-body {
  color: black;
}

.bloco3 .table,
.bloco5 .table,
.bloco7 .table,
.bloco9 .table,
.bloco11 .table {
  color: #fff;
}

.balao-esq,
.balao-dir {
  color: black
}


.caixa-practice{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 40px auto;
  color: #333;
}
.borda-destaque{
  border-color: #2875C6 !important;
  padding: 5px 20px !important;
}

.bg-escuro{
  background-color: #004b90;
  color: #fff !important;
  padding: 10px 30px 20px 30px;
}
.bg-escuro .borda-destaque{
  border-color: #fff !important;
  padding: 5px 20px !important;
}

div.caixa-practice.bg-escuro table{
  color: #fff !important;
}

.bg-escuro .feedbacks p{
  color: #fff !important;
}

.feedbacks i{
  font-size: 30px !important;
}

.bg-claro{
  background-color: #fff;
  color: #333 !important;
  padding: 10px 30px 20px 30px;
}
.bg-claro .multipla-escolha button::before{
  color: #333;
}

table.borda-destaque td{
  text-align: center;
  border: #2875C6 solid 1px;
}

.espera-video{
  width: 640px;
  height: 360px;
  margin: 40px auto;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  color: #fff;
  position: relative;
}
.video-youtube {
  width: 640px;
  height: 360px;
  margin: 50px auto;
  display: block;
}


@media screen and (max-width: 780px) {}

@media screen and (max-width: 480px) {
  .bloco1 .container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
  }
  div.flexs.itens{
    margin-bottom: 30px;
  }

  .video-youtube, .espera-video {
    width: 320px;
    height: 180px;
  }

  .ico-practice{
    max-width: 130px;
  }

  .caixa-destaque code {
    word-break: break-word;
  }
}

@media screen and (max-width: 420px) {
  .box-painel1 {
    display: block;
    margin: 0 auto;
    width: 440px;
    scale: 0.8;
    margin-left: -25px;
  }
}