* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.preload {
    display: none;
}

.obj-sentenca-wrapper {
    .tela {
        position: absolute;
    }

    .img-exercicio {
        max-width: 450px;
        margin: 15px auto;
    }

    .check-answer-btn, .restart-btn {
        display: block;
        margin: 15px auto;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        background-color: white;
        box-shadow: 0px 3px #333;
        color: #333;

        &.hidden {
            display: none;
        }

        &.disabled {
            opacity: .7;
            pointer-events: none;
            box-shadow: none;
        }

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0px 5px 1px #333;
        }
    }

    .slot .correct.inside-slot {
        background-color: rgb(143, 255, 47);
        pointer-events: none;
        position: relative;
        
        &::after {
            content: '';
            background-image: url('../img/check.svg');
            background-color: white;
            border-radius: 100%;
            background-size: 21px;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }

    .tela-final {
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .msg {
            text-align: center;
            background-color: rgb(240, 240, 240);
            border-radius: 10px;
            padding: 35px;
            h4 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
}